* {
  box-sizing: border-box;
  font-family: "Gotham Pro", Arial, sans-serif;
}

.catr_main_box {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}
.cart_title {
  font-size: 42px;
  font-weight: 700;
}
.header_list {
  display: flex;
  margin-top: 20px;
  width: 60%;
  justify-content: space-between;
}
.product_title {
  width: 60%;
  text-align: center;
  font-weight: 700;
  color: #7b7b7b;
}
.price_title,
.total_title {
  width: 20%;
  font-weight: 700;
  color: #7b7b7b;
}

.products_and_form {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.products_list {
  border-radius: 5px;

  width: 67%;
  margin-top: 20px;
}
.form {
  width: 32%;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #fafafa;
}
.price,
.total {
  width: 20%;
}
.product_box {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px 7px 7px 7px;
  height: 80px;
}
.name_and_pic_box {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 100%;
  font-size: 12px;
}
.product_name {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 60%;
  line-height: 100%;
}
.product_image {
  position: absolute;
  height: 100%;
}
.product_image_box {
  position: relative;
  border-radius: 5px;
  width: 20%;

  overflow: hidden;
}

.price {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 14px;
  font-weight: 700;
}
.remove_icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.total {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20%;
}
