:root {
  --index: calc(1vw + 1vh);
}

.left {
  width: 35%;
  padding-top: calc(var(--index) * 4);
}

.mainContacts {
  width: 70%;
  max-height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(var(--index) * 2);
}

.textContact {
  font-size: calc(var(--index) * 2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info {
}
.messages {
  margin-top: calc(var(--index) * 2);
}
.social_network {
  margin-top: calc(var(--index) * 1.9);
}
.address {
  display: flex;
  margin-top: calc(var(--index) * 1.8);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.phone_number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: calc(var(--index) * 1.2);
}
.email {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: calc(var(--index) * 1.2);
}
.address_img {
  width: 6%;
}
.address_text {
  width: 90%;
}
.address_img2 {
  width: 100%;
}
.telephone_img {
  width: 6%;
}
.telephone_img2 {
}
.telephone_text {
  width: 90%;
}
.email_img_div {
}
.email_img {
}
.email_text {
  width: 90%;
}
.mes {
  margin-bottom: calc(var(--index) * 0.7);
  font-size: calc(var(--index) * 0.6.5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wh_img {
}
.vb_img {
}
.tg_img {
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: flex-start;
}
.facebook {
  margin-top: calc(var(--index) * 0.6);
}
.socset_text {
  font-size: calc(var(--index) * 0.6.5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
