* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --index: calc(1vw + 1vh);
}

.calculation_window {
  display: flex;
  justify-content: center;
  background-image: url(./main.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(var(--index) * 50);
  max-height: 900px;
  position: relative;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.square_orange,
.square_orange1 {
  position: absolute;
  background-color: #ff6b00;
  width: 400px;
  height: 400px;
  top: 176px;
  left: -350px;
  z-index: 5;
  transform: rotate(45deg);
  animation-name: sq;
  animation-duration: 2s;
  border-radius: 10px;
  opacity: 15%;
  transition: linear;
}
.square_orange1 {
  width: 450px;
  height: 450px;
  opacity: 20%;
  top: 152px;
  left: -350px;
  animation-name: sq1;
  animation-duration: 3s;
  z-index: 4;
}

.calc_center {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_info {
  font-size: 34px;
  padding-top: 200px;
  width: 70%;
  line-height: calc(var(--index) * 2.9);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  animation-name: calc;
  animation-duration: 1s;
  font-size: calc(var(--index) * 1.50);
}

.orange_text {
  color: #ff6b00;
  animation-name: calc;
  animation-duration: 2s;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 100%;
  z-index: 0;
  background: linear-gradient(
    92.36deg,
    #212031 57.27%,
    rgba(33, 32, 49, 0.52) 97.73%
  );
  opacity: 0.9;
}

.calc_info {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  color: white;
  align-items: flex-end;
}

.material_block {
    position: relative;
}

.material_find{
    display: none;
}

.show{
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: calc(var(--index) * 1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    min-height: 200px;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.product_names{
    margin-top: 15px;
    text-align: left;
    max-width: 90%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-bottom: .4px solid rgba(128, 128, 128, 0.092);
    padding-bottom: 5px;
}

input {
  height: calc(var(--index) * 2.5);
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-top: 10px;
}

.material_block {
  width: 35%;
}

.address_block {
  width: 21%;
}
.volume_block {
  width: 21%;
}
.button_block {
  width: 20%;
  display: flex;
  align-items: flex-end;
}

.calc_input {
  padding: 0px;
  cursor: pointer;
  color: white;
  background-color: #ff6b00;
}

@keyframes calc {
  0% {

    opacity: 0%;
  }

  100% {

    opacity: 100%;
  }
}

@keyframes sq {
  0% {
    left: -500px;
  }

  100% {
    left: -350px;
  }
}

@keyframes sq1 {
  0% {
    left: -500px;
  }

  100% {
    left: -350px;
  }
}
