.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212031;
  height: 144px;
  color: white;
  position: relative;

}

.main_of_header {
  width: 70%;
  height: calc(var(--index) * 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.422);
  position: relative;
  z-index: 10;
}

.logotype {
  width: 30%;
  font-size: calc(var(--index) * .7);
}

.link, .active{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: calc(var(--index) * .7);
}

.active {
  height: calc(var(--index) * 5);
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ff6b00;
  
}

.whole_info {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.basket{
cursor: pointer;
width: calc(var(--index) * 3);
}
