.feedback_body {
  position: absolute;
  width: 601px;
  height: 504px;
  left: 590px;
  top: 300px;
  background: #fafafa;
  border-radius: 10px;
}
.text {
  margin-top: 20px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
  margin-left: 17px;
}
.body_input_name {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.body_input_phone {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.body_input_email {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.body_input_text {
  position: relative;
  margin-right: 20px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  margin-left: 350px;
  bottom: 360px;
}
.input_name {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 250px;
}
.input_phone {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 250px;
}
.input_email {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 250px;
}
.input_text {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  text-align: start;
}
