.loginBody {
  
  width: 558px;
  min-height: 500px;

  border-radius: 15px;
  left: 301px;
  top: 257px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bod{
  display: flex;
  justify-content: center;
}
.inputsDiv {
  width: 550px;
  height: 200px;
  margin-left: 20px;
  margin-top: 50px;
}
.inputLogin {
  border: 1px solid gray;
}
.inputPassword {
  border: 1px solid gray;
}
.basicText {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.textDiv {
  position: absolute;
  width: 700px;

  height: 10px;
  display: flex;
  margin-top: 30px;
}
.text1 {
  margin-left: 20px;
}
.text2 {
  margin-left: 150px;
  text-decoration: none;
  color: black;
}
.text3 {
  color: orangered;
}
.textSocset {
  margin-top: 20px;
  margin-left: 20px;
}
.icons {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}
.vkDiv {
  cursor: pointer;
  width: 150px;
  height: 30px;
  color: white;
  display: flex;
  background-color: steelblue;
}
.vkImg {
  width: 30px;
  height: 30px;
}
.vkText {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 10px;
}
.fbDiv {
  cursor: pointer;
  margin-left: 20px;
  width: 150px;
  height: 30px;
  color: white;
  display: flex;
  background-color: darkslateblue;
}
.fbImg {
  width: 30px;
  height: 30px;
}
.fbText {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 10px;
}
.googleDiv {
  cursor: pointer;
  margin-left: 20px;
  width: 150px;
  height: 30px;
  color: blue;
  border: 1px solid blue;
  display: flex;
}
.googleImg {
  margin-left: 3px;
  width: 25x;
  height: 25px;
  margin-top: 2px;
}
.googleText {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 15px;
}
.buttons {
  position: absolute;
  bottom: 130px;
  display: flex;
  width: 650px;
}
.button {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  background-color: orange;
  border: none;
  font-size: 20px;
}
.helpPassword {
  position: absolute;
  text-decoration: none;
  color: black;
  margin-top: 15px;
  margin-left: 220px;
}

.error::after {
    position: absolute;
    left: 50px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: orange;
  transform: rotate(50deg);
}

.error {
  position: absolute;
  margin-top: 3px;
  color: white;
  text-align: center;
  left: 250px;
  bottom: 300px;
  width: 200px;
  background-color: orange;
  height: 50px;
  padding-top: 3px;
}
